# Ignorer les dossiers de données et résultats
data/
output/
CCC/
data/
output/
CCC/*/output/
GRN_SCENIC/
*.rds
*.RDS
*.nb.html
.Rproj.user/
# Ignorer les fichiers RStudio temporaires
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# Fichiers générés par RMarkdown
*.html
*.nb.html

*.nb.html
*.nb.html
data/
output/
CCC/*/output/
*.rds
*.RDS
.Rproj.user/

LAB_DOCS/
LAB_DOCS.git.bak/
DNA_methylation_workshop/
loom.Rmd
omnipathr-log/
.RDataTmp
.RDataTmp1
