# Ignorer les dossiers de données et résultats
data/
output/
CCC/

# Ignorer les fichiers RStudio temporaires
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# Fichiers générés par RMarkdown
*.html
*.nb.html

*.nb.html
